.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 20px 20px;
    line-height: 1.6;
}
.btn {
    padding: 5px 20px;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.name {
    list-style: none;
    margin-top: 50px;
    font-weight: 800;
    display: flex;
    justify-content: space-evenly;
}

.input_block {
    line-height: 15px;
    text-align: start;
    padding: 0 5px;
    input {
        max-width: 200px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 10px;
        padding: 0 5px;
    }
    span {
        font-size: 10px;
        display: inline-block;
        padding: 0 5px;
        text-align: justify;
        font-weight: 600;
    }
}

.error {
    border: 3px solid #ff0062c1;
}

.specialization {
    display: flex;
    justify-content: center;
}

.talents {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0.5em;
    input {
        max-width: 350px;
        width: 350px;
    }
}
.talent {
    font-size: 17px;
    background-color: rgb(21, 21, 21);
    border-radius: 30px;
    align-self: center;
}
.links {
    padding: 0px 10px;
    input {
        max-width: 350px;
        width: 350px;
    }
}

.link {
    display: inline-block;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 10px;
}
.talent_data {
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(130deg, #8b56c0 50%, #a582f7 80.52%);
    color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
}

.ava {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info_talent {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.socials {
    width: 35px;
    transition: all 0.1s ease-in;
    &:hover {
        transform: scale(1.1);
    }
}

.about {
    margin-left: 20px;
    flex: 50%;
    display: table;
    padding: 30px 30px;
    font-size: 20px;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
}

.edit {
    width: 30px;
    height: auto;
    float: right;
    cursor: pointer;
}

.ab_title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 500;
}
.bio,
.additional_info,
.contacts {
    overflow-wrap: anywhere;
    padding: 10px;
    white-space: pre-wrap;
}

.contacts {
    word-break: break-all;
}

.textarea_block {
    line-height: 1;
    textarea {
        width: 100%;
        height: 75px;
    }
    .big_textarea {
        height: 150px;
    }
    span {
        font-size: 10px;
        display: inline-block;
        padding: 0 5px;
        text-align: justify;
        font-weight: 600;
    }
}

.passwords {
    padding-left: 10px;
}

@media screen and (max-width: 1068px) {
    .container {
        display: table;
    }

    .talent_data {
        width: 100%;
    }

    .about {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .ab_title {
        text-align: center;
    }
}
