.page_title {
    background: linear-gradient(
        180deg,
        #ce9ffc 0%,
        #a582f7 50.52%,
        #7367f0 100%
    );

    background-clip: text;
    color: transparent;
    font-size: 39px;
    font-weight: 900;
    margin: 0px 64px 0px 0px;
    margin-top: 67px;

    span {
        background: none;
        -webkit-text-fill-color: white;
        color: white;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 320px 1fr;
}
.grid-filter {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 140px;
}
