.out {
    padding: 0 20px 10px;
}

.proofs {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;
    gap: 48px;
    padding: 30px 10px 10px 40px;
    color: #fff;
    background: #111111;
    border-radius: 16px;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    background-image: url("images/fire.svg");
    background-repeat: no-repeat;
    background-position: bottom -70px right -40px;
    & * {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 100%;
        z-index: 1;
    }

    &:hover {
        box-shadow: 8px 8px 15px rgba(185, 145, 250, 0.5),
            inset 5px 5px 10px #111111;
        transform: scale(1.01);
    }
}

.link {
    font-weight: 800;
    color: rgba(185, 145, 250);
    text-decoration: underline;
}
.title {
    font-weight: 800;
    font-size: 25px;
}
.proof_description {
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.created {
    height: auto;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}
