.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    transition: all 0.2s ease;
    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    &.hide {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.block_modal {
    background-color: #111111;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 4px 4px 16px rgba(185, 145, 250, 0.8);
    transition: all 0.2s ease;
    &.show {
        transform: translate(0%, 0%);
    }
    &.hide {
        transform: translate(0%, -50%);
    }
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    font-family: "Courier New", Courier, monospace;
    font-size: 36px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.body {
    display: grid;
    max-width: 800px;
    // grid-template-columns: auto minmax(auto, 400px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 40px 32px;
    // gap: 64px;
    gap: 40px;
}
