$gradient: linear-gradient(180deg, #ce9ffc 0%, #a582f7 50.52%, #7367f0 100%);
$purple: #7367f0;

.header {
    position: fixed;
    height: 150px;
    width: 100%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 500;
    & > div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
}

.logo {
    background: linear-gradient(
        180deg,
        #ce9ffc 0%,
        #a582f7 50.52%,
        #7367f0 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 900;
    margin: 0px 64px 0px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
    span {
        background: none;
        -webkit-text-fill-color: white;
        color: white;
    }
}
@media (min-width: 992px) {
    .logo:hover {
        transform: scale(1.02);
    }
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 auto;
    gap: 32px;
    padding: 16px 32px;
    & a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        &:hover {
            color: white;
        }
    }
}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.btn {
    color: aliceblue;
    font-family: "Plus Jakarta Sans";
    width: 125px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid transparent;
    background-image: linear-gradient(0deg, #000, #000),
        linear-gradient(180deg, #ce9ffc 0%, #a582f7 50.52%, #7367f0 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: 100% 100%, 100% 100%;
}
@media (min-width: 992px) {
    .btn:hover {
        color: white;
        background-size: 0% 0%, 100% 100%;
        animation: btn_animation 0.5s ease forwards;
    }
}
@keyframes btn_animation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 100% 100%;
    }
}
